.article .content .col-10 {width: calc(100% / 4 - 7px);}
.article .content .fwidth {margin-top: 40px; margin-bottom: 40px; padding: 40px 0px;}
.article .content .rhs {position: absolute; width: auto; height: 100%; right: 0px; padding-left: 15px;}
.article .content .rhs > .round, .article .content .rhs > .round-big {border-top-right-radius: 0px; border-bottom-right-radius: 0px;}
.article .content .rhs > .sticky {top: 30px;}
.article .content .rhs-alt {display: none;}

.article .content *.txt-large {font-size: 33pt; font-weight: normal;}
.article .content *.txt-big {font-size: 18pt; font-weight: normal;}
.article .content *.big-marg {margin-bottom: 30px;}
.article .content *.small-marg {margin-bottom: 20px;}
.article .content *.no-marg {margin-bottom: 0px;}
.article .content a figcaption {font-weight: 400;}
.article .content figure video {width: 100%;}
.article .content figure iframe {max-width: 100%;}
.article .content ul.outside {margin-left: 50px;}
.article .content ul.outside:not(.clear), .article .content ul.outside:not(.clear) li {list-style: disc outside;}
.article .content nav a.txt-grey {color: #555;}
.article .content nav a.txt-grey:hover, .article .content nav a.txt-grey:focus {color: #4479b4;}
.article .content .rhs nav {width: 240px; margin-top: -15px; padding: 15px 15px 20px 15px;}
.article .content .rhs nav h2 {line-height: 1.3;}
.article .content .rhs nav li + li {margin-top: 5px;}
.article .content .rhs nav .but {margin: 0px;}
.article .content .scroller-nav a.active {font-weight: 700; color: #043ed6;}

.article .content .small {display: block; margin: 60px 0px;}
.article .content .small p {margin-bottom: 20px;}

.article .content a.but {display: inline-block; height: 40px; line-height: 40px; text-decoration: none; font-weight: 500;}
.article .content a.but, .article .content button {width: 100%;}
.article .content a.but.txt-big, .article .content button.txt-big {font-size: 16pt;}
.article .content a.but.big, .article .content button.big {height: 45px; font-size: 14pt; line-height: 45px;}
.article .content a.but.txt-strong, .article .content button.txt-strong {font-weight: 700; letter-spacing: 0.06em;}
.article .content a.but.txt-strong span, .article .content button.txt-strong span {font-weight: 400;}
.article .content a.but.bkg-blue, .article .content button.bkg-blue {background-color: #18a0fb; color: #fff;}
.article .content a.but.bkg-blue:hover, .article .content a.but.bkg-blue:focus,
.article .content button.bkg-blue:hover, .article .content button.bkg-blue:focus
    {background-color: #347aba; color: #fff;}
.article .content a.but.bkg-orange, .article .content button.bkg-orange {background-color: #ef794d; color: #fff;}
.article .content a.but.bkg-orange:hover, .article .content a.but.bkg-orange:focus,
.article .content button.bkg-orange:hover, .article .content button.bkg-orange:focus
    {background-color: #c64312; color: #fff;}
.article .content a.but.bkg-orange-dark, .article .content button.bkg-orange-dark {background-color: #d35400; color: #fff;}
.article .content a.but.bkg-orange-dark:hover, .article .content a.but.bkg-orange-dark:focus,
.article .content button.bkg-orange-dark:hover, .article .content button.bkg-orange-dark:focus
    {background-color: #e67e22; color: #fff;}
.article .content a.but.bkg-green, .article .content button.bkg-green {background-color: #38b54a; color: #fff;}
.article .content a.but.bkg-green:hover, .article .content a.but.bkg-green:focus,
.article .content button.bkg-green:hover, .article .content button.bkg-green:focus
    {background-color: #69e27b; color: #fff;}

.bkg-cos-blue {background-color: #3076ac;}
header a.but.bkg-cos-blue:hover, header a.but.bkg-cos-blue:focus {background-color: #286593;}
.article .content a.but.bkg-cos-blue, .article .content button.bkg-cos-blue {background-color: #3076ac; color: #fff;}
.article .content a.but.bkg-cos-blue:hover, .article .content a.but.bkg-cos-blue:focus,
.article .content button.bkg-cos-blue:hover, .article .content button.bkg-cos-blue:focus
    {background-color: #286593; color: #fff;}
.txt-cos-blue {color: #3076ac;}




.article .content .scholarship {display: block; margin: 60px 0px 0px 0px; text-decoration: none; font-weight: 400;}
.article .content .scholarship figure {height: 300px;}
.article .content .scholarship figure.round {border-radius: 10px; overflow: hidden;}
.article .content .scholarship figure img {height: 100%;}
.article .content .scholarship figcaption {height: 100%; margin: 0px; padding: 20px; box-sizing: border-box;}
.article .content .scholarship figcaption.flex {flex-direction: column;}
.article .content .scholarship figcaption.flex > * {margin: 0px;}
.article .content .scholarship figcaption h3 {line-height: 1.3;}
.article .content .scholarship figcaption ul > li + li {margin-top: 5px;}
.article .content .scholarship figcaption .link {color: #043ed6;}
.article .content .scholarship figcaption .link:hover {color: #4479b4;}

.article .content .scholarship.light {margin-top: 40px;}
.article .content .scholarship.light figcaption ul > li + li {margin-top: 30px;}

.article .content .scholarship.text {margin-top: 40px;}
.article .content .scholarship.text figure {display: flex; height: auto; align-items: stretch;}
.article .content .scholarship.text figure img {width: 298px; height: auto;}
.article .content .scholarship.text figcaption {width: calc(100% - 298px); padding: 10px 10px 10px 20px;}
.article .content .scholarship.text figcaption.flex {justify-content: flex-start;}
.article .content .scholarship.text figcaption h3 {margin-bottom: 10px;}

.article .content .ico-list li:last-child p {margin-bottom: 0px;}
.article .content .ico-list p {margin: 0px 0px 20px 40px;}
.article .content .ico-list img {width: 21px; height: 21px; margin-top: 3px;}

.article .content .wikibuy-content {box-sizing: border-box; text-decoration: none; font-weight: normal;}
.article .content .wikibuy-content {padding: 20px; margin: 40px 0px !important;}
.article .content .wikibuy-content .logo {display: block !important; width: 100%; height: auto; margin-bottom: 5px; font-size: 20px;}
.article .content .wikibuy-content .logo.mobile {display: none !important;}
.article .content .wikibuy-content .stars {height: 28px; line-height: 28px;}
.article .content .wikibuy-content .stars img {width: 99px; height: 17px; margin: 6px 15px 0px 0px; vertical-align: top;}
.article .content .wikibuy-content .stars.big {margin-top: 5px;}
.article .content .wikibuy-content .stars.big img {width: 145px; height: 28px; margin-top: 0px;}
.article .content .wikibuy-content .privilege {margin: 30px 0px 20px 0px;}
.article .content .wikibuy-content .privilege.col-3 {margin: 10px 0px 0px 0px;}
.article .content .wikibuy-content .privilege li {width: 50%; min-height: 21px; line-height: 21px; font-size: 17px;}
.article .content .wikibuy-content .privilege.col-3 li {width: 100%;}
.article .content .wikibuy-content .privilege.col-3 li + li {margin-top: 10px;}
.article .content .wikibuy-content .privilege li img {height: 100%; margin-right: 10px; vertical-align: text-top;}
.article .content .wikibuy-content .pros-cons {margin: 30px 5px 5px 5px;}
.article .content .wikibuy-content .pros-cons li {width: calc(100% / 3 - 20px);}
.article .content .wikibuy-content .pros-cons li h6 {margin-bottom: 15px; height: 25px; line-height: 25px; white-space: nowrap}
.article .content .wikibuy-content .pros-cons li h6 img {width: 25px; height: 25px; margin-right: 5px; vertical-align: top;}
.article .content .wikibuy-content p {font-size: 18px; margin-bottom: 20px;}
.article .content .wikibuy-content button {margin: 0px;}
.article .content .wikibuy-content button.col-3 {width: calc(100% / 2 - 10px); height: 52px; margin-top: 10px;}
.article .content .wikibuy-content button img {margin-left: 10px;}

.article .content .site {display: block; margin-top: 40px; padding: 20px; text-decoration: none; font-weight: 400;}
.article .content .site h3 {margin-bottom: 20px; font-weight: 700;}
.article .content .site p strong {text-decoration: underline;}
.article .content .site .stars {margin-bottom: 35px;}
.article .content .site .stars .site-logo {max-width: 189px; max-height: 78px;}
.article .content .site .stars span {margin-left: 25px;}
.article .content .site .stars span span {margin-left: 0px;}
.article .content .site .stars span img {width: 127px; height: 26px; margin-left: 25px;}
.article .content .site .privilege {margin: -10px 0px 0px 0px;}
.article .content .site .privilege .tag {display: flex; height: auto; min-height: 20px; padding: 10px; line-height: 1;}
.article .content .site .privilege .tag span {white-space: normal;}
.article .content .site .privilege img {width: auto; height: 20px; margin-right: 13px;}
.article .content .site button {margin: 30px 0px 0px 0px;}

.article .content .difs {margin: 40px 0px;}
.article .content .difs img {max-width: 173px; max-height: 64px;}
.article .content .difs .bkg-grey {background-color: #f5f5f6;}
.article .content .difs .ico {width: 21px ; height: 21px;}

.article .content table.difs td {position: relative; vertical-align: middle; padding: 10px 0px;}
.article .content table.difs td:first-child {padding-left: 20px !important; padding-right: 20px !important;}
.article .content table.difs .head td {padding: 20px 20px 5px 20px !important;}
.article .content table.difs .foot td {padding: 15px 20px !important;}
.article .content table.difs .clarify {position: absolute; top: 19px; margin-left: 5px; white-space: nowrap;}
.article .content table.difs .desktop {display: table-row !important;}
.article .content table.difs .mobile {display: none !important;}

.article .content div.difs {align-items: stretch;}
.article .content div.difs .col-4 {width: 50%; padding: 20px 10px;}
.article .content div.difs .logos {height: 64px; margin-bottom: 15px; justify-content: center;}
.article .content div.difs h6 {margin-bottom: 5px;}
.article .content div.difs ul {margin-bottom: 0px;}
.article .content div.difs ul li:last-child p {margin-bottom: 0px;}
.article .content div.difs ul p {margin-left: 46px;}
.article .content div.difs ul .ico {margin-top: 3px;}

.article .content .diff-list {margin-top: 40px;}
.article .content .diff-list .col-big {width: calc(55% - 10px);}
.article .content .diff-list .col-small {width: calc(45% - 10px);}
.article .content .diff-list h3 {margin-bottom: 25px;}
.article .content .diff-list .ico-list {margin-top: -6px;}
.article .content .diff-list .ico-list p {margin-bottom: 10px; margin-left: 30px;}
.article .content .diff-list .ico-list img {width: 18px; height: 18px; margin-top: 6px;}

.article .content .edge {margin: 40px 0px; padding: 20px;}
.article .content .edge h3 {font-size: 33pt; font-weight: 400; margin-bottom: 20px;}
.article .content .edge h3 img {max-width: 140px; max-height: 52px;}
.article .content .edge p {margin-bottom: 20px;}
.article .content .edge .logos {height: 64px; margin-top: -10px; margin-bottom: 10px; justify-content: flex-start;}
.article .content .edge .logos img {max-width: 173px; max-height: 64px;}
.article .content .edge .logos img + img {margin-left: 20px;}
.article .content .edge .buts {margin-top: 30px;}
.article .content .edge .buts .fleft, .article .content .edge .buts .fright {width: calc(50% - 20px);}

.article .content .goods-list {margin-bottom: 30px; align-items: stretch;}
.article .content .goods-list figure {padding: 10px; margin: 0px;}
.article .content .goods-list img {width: auto; height: auto; max-width: 100%;}
.article .content .goods-list span {display: block; padding: 5px 0px 5px 7px;}

.article .content .rating {align-items: center;}
.article .content .rating .col-3 {width: calc(100% / 2 - 20px);}
.article .content .rating .col-3.brd-grey {padding: 10px 0px 10px 40px; border-width: 0px 0px 0px 1px;}
.article .content .rating .col-3 img {width: auto; max-width: 100%;}
.article .content .rating a.but.big {height: 55px; line-height: 55px;}

.article .content .faq-list {flex-wrap: wrap;}
.article .content .faq-list .txt-small {font-size: 13pt;}

.article .content .logo-list > * {width: calc(100% / 5 - 12px); height: 120px; padding: 10px; box-sizing: border-box;}
.article .content .logo-list .middle {justify-content: center;}
.article .content .logo-list a {display: block; width: 100%; height: 100%;}
.article .content .logo-list img {max-width: 100%; max-height: 70px;}

.article .content .comments article {margin-bottom: 0px; padding: 20px 15px;}
.article .content .comments article figure {margin: 0px 0px -5px 0px;}
.article .content .comments article figure img {width: 60px; height: auto;}
.article .content .comments article figure figcaption {width: calc(100% - 60px - 20px); margin: 0px; padding-top: 6px;}
.article .content .comments article figure figcaption > * {display: block; margin: 0px;}
.article .content .comments article p {margin: 0px; padding-top: 20px;}
.article .content .comments article + article {margin-top: 15px;}
.article .content .comments article > article {margin-top: 30px;}
.article .content .comments article > article + article {margin-top: 15px;}
.article .content .comments .txt-small {font-size: 13pt;}

@keyframes progress-line {
 0% {background-position: 0px 0px}
 100% {background-position: 50px 50px}
}

.article .content .progress-bar {height: 20px; overflow: hidden;}
.article .content .progress-line {position: relative; height: 100%; transition: width 1s ease-out;}
.article .content .progress-line {box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);}
.article .content .progress-line::after {content: ""; position: absolute; top: 0; left: 0; bottom: 0; right: 0;}
.article .content .progress-line::after {
    background-image: linear-gradient(-45deg, rgba(255,255,255,.2) 25%, transparent 25%, transparent 50%,
        rgba(255,255,255,.2) 50%, rgba(255,255,255,.2) 75%, transparent 75%, transparent);
    background-size: 50px 50px;
    animation: progress-line 2s linear infinite;
}

.article .content .loader.hide {display: none;}
.article .content .loader.anim {opacity: 0;}
.article .content .loader.anim.show {opacity: 1;}
.article .content .loader.fix {width: 100%; height: 100vh;}
.article .content .loader.fix .flex {width: 100%; height: 100%; justify-content: center;}
.article .content .loader.fix figure {position: relative; width: 550px; height: 85px; margin: 0px;}
.article .content .loader.fix figure figcaption {margin: 0px; line-height: 1.2;}
.article .content .loader.fix figure figcaption.hide {display: none;}
.article .content .loader.fix figure .progress-bar {position: absolute; left: 0px; bottom: 0px; width: 100%;}

@media screen and (max-width: 1230px) {
    .article .content .fwidth .col-2 {padding-left: 175px; padding-right: 175px;}
}

@media screen and (max-width: 1100px) {
    .article .content .site .stars span {margin-left: 15px;}
    .article .content .site .stars span span {margin-left: 0px;}
    .article .content .site .stars span img {margin-left: 15px;}
}

@media screen and (max-width: 1070px) {
    .article .content .fwidth .col-2 {padding-left: 40px; padding-right: 40px;}
}
@media screen and (max-width: 940px) {
    .article .content .fwidth {padding-left: 0px; padding-right: 0px;}
    .article .content .fwidth.bkg-white {padding: 0px;}
}

@media screen and (max-width: 850px) {
    .article .content table.difs .clarify {position: static; display: block; margin: 10px 0px 0px 0px;}

    .article .content .diff-list {margin-top: 40px;}
    .article .content .diff-list .col-big {width: 100%;}
    .article .content .diff-list .col-small {width: 100%;}
}

@media screen and (max-width: 820px) {
    .article .content .scholarship figure {height: 280px;}
    .article .content .scholarship figcaption {padding-top: 10px; padding-bottom: 15px;}

    .article .content .scholarship.text figure {display: block;}
    .article .content .scholarship.text figure img {margin-right: 20px;}
    .article .content .scholarship.text figcaption {width: auto; padding: 20px;}
    .article .content .scholarship.text figcaption.flex {display: block;}

    .article .content .site .flex:not(.tag) {flex-direction: column; align-items: flex-start;}
    .article .content .site .stars .site-logo {margin-bottom: 30px;}
    .article .content .site .stars span {margin-left: 0px; flex-direction: column-reverse !important;}
    .article .content .site .stars span img {margin-left: 0px; margin-bottom: 10px;}
    .article .content .site .privilege li + li {margin-top: 20px;}
    .article .content .site .privilege .tag {flex-wrap: nowrap;}

    .article .content table.difs td:not(:first-child) {width: 140px;}
    .article .content table.difs img {max-width: 140px;}
    .article .content table.difs .foot a.but {width: calc(50% - 10px);}
    .article .content table.difs .desktop {display: none !important;}
    .article .content table.difs .mobile {display: table-row !important;}

    .article .content .edge .buts .fleft, .article .content .edge .buts .fright {width: calc(50% - 10px);}
}

@media screen and (max-width: 780px) {
    .article .content .wikibuy-content .pros-cons li {width: calc(100% / 3 - 10px);}

    .article .content .scholarship figure {height: auto;}
    .article .content .scholarship figure img {height: 220px; margin-right: 20px;}
    .article .content .scholarship figcaption {display: block; padding: 20px;}
    .article .content .scholarship figcaption.flex > * + * {margin-top: 25px;}
    .article .content .scholarship.text figcaption.flex > * + * {margin-top: 0px;}

    .article .content .rating {flex-direction: column;}
    .article .content .rating .col-3 {width: 100%; order: 2;}
    .article .content .rating .col-3.brd-grey {padding: 0px 0px 30px 0px; border-width: 0px; text-align: center; order: 1;}
    .article .content .rating a.but.big {height: 45px; line-height: 45px;}
}

@media screen and (max-width: 680px) {
    .article .content .col-10 {width: calc(100% / 2 - 10px);}

    .article .content a.but {width: 100%;}

    .article .content .wikibuy-content .pros-cons li {width: 100%;}
    .article .content .wikibuy-content .pros-cons li + li {margin-top: 30px;}

    .article .content .scholarship figure img {width: 100%; height: auto; margin-right: 0px; margin-bottom: 20px;}
    .article .content .scholarship.light figure img {margin-bottom: 25px;}
    .article .content .scholarship.light figcaption ul > li + li {margin-top: 20px;}
    .article .content .scholarship.text figure img {width: 100%; margin-right: 0px; margin-bottom: 25px;}
    .article .content .scholarship.text figcaption.flex > * {margin-bottom: 0px !important;}
    .article .content .scholarship.text figcaption.flex > * + * {margin-top: 20px;}

    .article .content table.difs td:not(:first-child) {width: 90px;}
    .article .content table.difs img {max-width: 90px;}
    .article .content table.difs .head td {padding-bottom: 20px !important;}

    .article .content div.difs {flex-direction: column;}
    .article .content div.difs .col-4 {width: 100%; padding-left: 15px; padding-right: 15px;}

    .article .content .goods-list {margin-bottom: 10px;}
    .article .content .goods-list figure {margin-bottom: 20px;}
    .article .content .goods-list span {padding-left: 14px;}
    .article .content .goods-list .txt-tiny {font-size: 12pt;}

    .article .content .logo-list {margin-bottom: -15px; justify-content: center;}
    .article .content .logo-list > * {width: calc(100% / 3 - 10px); margin: 0px 10px 15px 0px;}

    .article .content .loader.fix figure {width: calc(100% - 80px);}
}

@media screen and (max-width: 600px) {
    .article .content .wikibuy-content {padding-left: 15px; padding-right: 15px;}
    .article .content .wikibuy-content .logo {display: none !important;}
    .article .content .wikibuy-content .logo.mobile {display: block !important; margin: 10px 0px -5px 0px; text-align: right;}
    .article .content .wikibuy-content .stars {height: auto; text-align: center;}
    .article .content .wikibuy-content .stars img {display: block; float: none; margin: 0px auto 5px auto;}
    .article .content .wikibuy-content .privilege li {width: 100%;}
    .article .content .wikibuy-content .privilege li + li {margin-top: 15px;}

    .article .content .goods-list span {padding-left: 10px;}
}

@media screen and (max-width: 550px) {
    .article .content ul.outside {margin-left: 25px;}

    .article .content .site {padding-left: 15px; padding-right: 15px;}
    .article .content .site .stars strong {display: block;}

    .article .content table.difs td:first-child {padding-left: 10px !important; padding-right: 0px !important;}
    .article .content table.difs td:not(:first-child) {padding-left: 0px !important; padding-right: 10px !important;}
    .article .content table.difs .foot td {padding-right: 10px !important;}
    .article .content table.difs .foot a.but {width: 100%;}
    .article .content table.difs .foot a.but + a.but {margin-top: 15px;}

    .article .content .edge .logos {height: auto; margin-top: 0px; margin-bottom: 20px; flex-direction: column; align-items: flex-start;}
    .article .content .edge .logos img + img {margin-left: 0px; margin-top: 20px;}
    .article .content .edge .buts .fleft, .article .content .edge .buts .fright {width: 100%;}
    .article .content .edge .buts a + a {margin-top: 20px;}

    .article .content .goods-list span {padding-left: 8px;}
}

@media screen and (max-width: 500px) {
    .article .content .col-10 {width: 100%;}

    .article .content .goods-list span {padding-left: 20px;}

    .article .content .logo-list > * {width: calc(100% / 2 - 10px); margin: 0px 10px 15px 0px;}

    .article .content .loader.fix figure {width: calc(100% - 60px);}
}

@media screen and (max-width: 400px) {
    .article .content ul.outside {margin-left: 0px;}
    .article .content ul.outside:not(.clear), .article .content ul.outside:not(.clear) li {list-style: disc inside;}
    .article .content ul.outside li p {display: inline;}
    .article .content ul.outside li p:after {content: ""; display: block; margin-bottom: 30px;}

    .article .content a.but.big, .article .content button.big {font-size: 12pt;}

    .article .content table.difs td:not(:first-child) {width: 75px;}
    .article .content table.difs img {max-width: 75px;}

    .article .content .goods-list span {padding-left: 16px;}

    .article .content .comments article figure img {width: 50px;}
    .article .content .comments article figure figcaption {width: calc(100% - 50px - 10px); padding-top: 0px;}
    .article .content .comments article article {border-width: 0px; padding: 0px;}

    .article .content .loader.fix figure {width: calc(100% - 40px);}
}